@import "tailwindcss";

@font-face {
  font-family: "Light";
  src: url("/fonts/light.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.ttf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.ttf");
}

@theme {
  --color-primary: #DADADA;
  --color-secondary: #9D9D9D;
  --color-third: #ddaf4b;
  --color-backgroundsecondary: #26292D;
  --color-backgroundthird: #131517;
  --color-nav: #484e56;
  --font-regular: "Regular";
  --font-light: "Light";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
}

:root {
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #DADADA;
  background-color: #1F2226;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-border {
  position: relative;
  border-radius: 4;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(180deg, #9D9D9D, #1F2226);
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}