@import "tailwindcss";

@theme {
  --color-primary: #DADADA;
  --color-secondary: #9D9D9D;
  --color-backgroundsecondary: #26292D;
  --color-backgroundthird: #131517;
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
}

:root {
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #DADADA;
  background-color: #1F2226;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
